body {
    font-family: "Comfortaa", sans-serif;;
    background-image: url("fundo.png");
    background-size: cover;
    background-attachment: fixed;
}

.listanavegacao {
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-left: 0%; /* porque se botou padding sozinho??? */
    background-color: rgba(213, 255, 242, 0.8);
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.itemnavegacao {
    padding: 2%;
}

.linknavegacao:hover{
    border-bottom: solid;
    border-width: 1%;
    border-color: white;
}

.titulo {
    margin-top: 4%;
    text-align: center;
    background: linear-gradient(#d6beff, #9ffae4);
    padding: 1%;

    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 1%;

    border-radius: 15px;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
}

.estrela {
    width: 20px;
    margin: 1%;
}

h2 {
    font-family: "Pixelify Sans", sans-serif;

    border-left: solid;
    border-width: 5px;
    border-color: #ffffff;
    padding-left: 1%;
}

section {
    background-color: rgba(213, 255, 242, 0.7);
    padding: 1%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    margin-bottom: 1%;
}

.paragrafo{
    background-color: #ffffff;
    padding: 2%;
    border-radius: 10px;
}

.itemformacao{
    margin-left: 2%
}

#dados {
    border-bottom: none;
}

.listacontato{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.itemcontato{
    display: flex;
    text-align: center;
    justify-content: center;
}

.imgcontato{
    width: 5%;
    margin-right: 2%;
}

@media screen and (max-width: 1350px) {
    .titulo{
        margin-left: 25%;
        margin-right: 25%;
    }

    section{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1220px) {
    .itemnavegacao{
        padding: 1%;
    }
}

@media screen and (max-width: 1050px) {
    .itemnavegacao{
        display: flex;
        text-align: center;
        align-items: center;
    }

    .imgcontato{
        width: 6%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 845px) {
    .imgcontato{
        width: 3%;
    }

    .listacontato{
        display: left; /* da um jeito nisso */
        align-items: center;
    }

    .itemcontato{
        padding-bottom: 1%;
    }
}

@media screen and (max-width: 700px) {
    .listanavegacao{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}
