body {
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("fundo.png");
    background-size:cover;
    background-attachment: fixed;
}

.listanavegacao {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0%; /* porque se botou padding sozinho??? */
}

a {
    text-decoration: none;
    color: inherit;
}

.itemnavegacao {
    padding: 2%;
}

.titulo {
    margin-top: 4%;
    text-align: center;
    background: linear-gradient(#d6beff, #9ffae4);
    padding: 1%;

    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 1%;

    border-radius: 15px;
}

.estrela {
    width: 20px;
    margin: 1%;
}

.linkcontato{
    margin-bottom: 1%;
}

h2 {
    border-left: solid;
    border-width: 5px;
    border-color: #ffffff;
    padding-left: 1%;
}

section {
    background-color: rgba(213, 255, 242, 0.7);
    padding: 1%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    margin-bottom: 1%;
}

.paragrafo{
    background-color: #ffffff;
    padding: 2%;
    border-radius: 10px;
}

.apresentacaoparagrafo {
    margin-right: 2%;
}

.fotoeu{
    display: block;
    width: 40%;
    border-radius: 15px;
}

.itemformacao{
    margin-left: 2%
}

#dados {
    border-bottom: none;
}

.listacontato{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.itemcontato{
    display: flex;
    text-align: center;
    justify-content: center;
}

.imgcontato{
    width: 6%;
    margin-right: 2%;
}
